
@import url('https://fonts.googleapis.com/css?family=Athiti:200');


page-manage-user {
    font-family: 'Athiti', sans-serif;
    .input_custom1{
        margin-top: -15px;
        font-size: 15px;
    }
}
